header {
  position: fixed;
  width: 90%;
  z-index: 999;
  padding-top: 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;




  .titleAndIcon {
    width: 50%;

    .flexboxall(row-reverse, flex-wrap, center);
    margin: 0 auto;

    @media @mobile {
      .flexboxall(column-reverse, flex-wrap, space-around);
    }

    .cube-img {
      border: none;
      background-color: transparent;
      width: 135px;
      overflow: hidden;

      @media @mobile {
        display: none;
      }

      img {
        border: 0;
        width: 135px;
        height: 140px;
        float: left;


        @media @mobile {
          width: 30px;
          height: 31px;
          align-self: center;

        }
      }
    }

    .mineChore-img {
      img {
        border: 0;
        height: 150px;
        width: 600px;
        float: right;

        @media @mobile {
          height: 50px;
          width: 170px;
          align-self: center;

        }
      }

    }


  }

  .navBar {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    padding: 20px;
    .flexboxall(row, flex-wrap, center);

    width: 50%;
    margin: 0 auto;


    // justify-content: space-around;

    @media @mobile {
      width: 100%;
      align-content: center;
      margin: 0 auto;
    }

    nav {

      width: 50%;
      .flexboxall(row, flex-wrap, flex-end);
      // display: flex;
      // flex-direction: row;
      // line-height: 1.5;
      // justify-content: space-between;
      margin: 0 auto;

      // padding: 50px 0;
      @media @mobile {

        flex-direction: column;
        justify-content: center;
        padding: 0, 40%;

        a {
          width: 100%;
          text-align: center;
          font-size: 15px;

        }
      }
    }

    nav ul {

      margin: 0 auto;
      list-style: none;
      text-align: center;

      @media @mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

      }
    }

    nav ul li {
      display: inline-block;

      @media @mobile {
        // font-size: 10px;
        padding: 0;
        margin: 0;

      }

    }

    nav ul li a {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #aaa;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0 10px;

      @media @mobile {
        font-size: 13px;
        padding: 0;

      }
    }

    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
      transition: all .5s;
    }

    nav ul li a:hover {
      color: white;
    }

    /* stroke */
    nav.stroke ul li a,
    nav.fill ul li a {
      position: relative;
    }

    nav.stroke ul li a:after,
    nav.fill ul li a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #aaa;
      height: 1px;
    }

    nav.stroke ul li a:hover:after {
      width: 100%;
    }

    nav.fill ul li a {
      transition: all 2s;
    }

    nav.fill ul li a:after {
      text-align: left;
      content: '.';
      margin: 0;
      opacity: 0;
    }

    nav.fill ul li a:hover {
      color: #fff;
      z-index: 1;
    }

    nav.fill ul li a:hover:after {
      z-index: -10;
      animation: fill 1s forwards;
      -webkit-animation: fill 1s forwards;
      -moz-animation: fill 1s forwards;
      opacity: 1;
    }



  }
}


.middle {
  padding-top: 230px;
  width: 100%;

  @media @mobile {
    padding-top: 170px;

  }

  .main-img {
    padding-top: 200;
    width: 100%;


    img {
      width: 100%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  .content-section {
    max-width: 100%;
    margin: 10px 0;
    .flexboxall(row, flex-wrap, space-around);

    @media @mobile {
      .flexboxall(column, flex-wrap, space-around);
    }


    .text-content {
      width: 50%;
      // padding-right: 1%;
      text-align: left;

      @media @mobile {
        width: 100%;
      }
    }

    .img-content {
      width: 50%;
      // padding-left: 1%;
      border-radius: 20px;

      @media @mobile {
        width: 100%;
      }
    }


    img {
      border-radius: 10px;
      width: 100%;


    }
  }




  .inverse-content {
    padding-bottom: 30px;

    @media @mobile {
      .flexboxall(column-reverse, flex-wrap, center);
      scroll-padding-bottom: 0;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      text-align: left;
      width: 50%;

      @media @mobile {
        width: 100%;
      }

    }

    .img-content {
      width: 50%;
      padding-left: 0;

      @media @mobile {
        width: 100%;
      }

      img {
        width: 100%;
      }

    }
  }


  .content-pick {
    // padding-top: 30px;
    padding-bottom: 30px;

    // border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    // text-align: center;
    @media @mobile {
      .flexboxall(column, flex-wrap, center);
    }

    .details {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: 0 auto;
      padding: 5px 0;
      border-radius: 15px;
      background-color: rgb(78, 204, 183);
      justify-content: space-between;

      h4,
      p {
        text-align: center;

      }

      .btn {
        text-align: center;
        .flexboxall(column, flex-wrap, center);
        width: inherit;
        margin: 0 auto;
        padding: 8px;
        color: white;
        font-size: 1.5rem;
        background-color: rgb(100, 41, 100);
        border-radius: 5px;


        &:hover {
          background-color: lighten(rgb(33, 105, 98); 10%);
        }

        @media @mobile {
          width: 100%;
        }

      }


      @media @mobile {
        width: 100%;
        padding: 10px 0;
        margin: 5px auto;
        border-radius: 15px;
      }
    }
  }

  .content-details {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;

    h2,
    p,
    h4 {
      text-align: center;
      padding-bottom: 30px;
    }


    @media @mobile {
      width: 100%;
      padding: 10px 0;
    }



    img {
      width: 100%;
      border-radius: 10px;
    }

    // @media @mobile {
    //   width: 100%;
    //   padding: 20px 10px;
    // }
  }

}

.testimonials {
  .flexboxall(row, flex-wrap, center);
  width: 100%;
  background-color: rgb(33, 105, 98);
  border-radius: 15px;
  margin-bottom: 10px;

  .left-button {
    margin: 0 40px;
    border-color: 1px solid black;

  }

  .right-button {
    margin: 0 40px;
    border-radius: 50%;
    border-color: 1px solid black;

  }
}

.footer {
  width: 100%;
  margin-bottom: 10px;

  .githubcatLink {
    padding: 30px;
  }

  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }


}