header {
  position: fixed;
  width: 90%;
  background-image: url(main/resources/theme-assets/img/bg-wool-dark.png);
  background-color: grey;
  z-index: 999;
  padding-top: 25px;




  .titleAndIcon {

    .flexboxall(row-reverse, flex-wrap, space-around);
    align-items: center;

    @media @mobile {
      .flexboxall(column-reverse, flex-wrap, space-around);
    }

    .cube-img {
      border: none;
      background-color: transparent;
      width: 215px;
      overflow: hidden;
      @media @mobile{
        display:flex;
          justify-content: center;
      }



      img {
        border: 0;
        width: 212px;
        height: 221px;
        float: left;
        
        
        @media @mobile {
          width: 48px;
          height: 50px;
          align-self: center;
          
      }
      }
    }

      .mineChore-img {
        img {
          border: 0;
          height: 250px;
          width: 1000px;
          float: right;
          @media @mobile {
            height: 50px;
            width: 200px;
            align-self: center;
         
        }
        }

      }


  }

  .navBar {
 
    margin-top: 10px;
    padding: 20px;
    // .flexboxall(row, flex-wrap, flex-end);

    width: 100%;
    text-align: left;
    justify-content: flex-end;
    @media @mobile {
      // .flexboxall(column, flex-wrap, center);
      align-content: center;

    }


    nav {
      color: white;
      width: 100%;
      display: flex;
      .flexboxall(row, flex-wrap, right);

      @media @mobile {
        .flexboxall(column, flex-wrap, flex-end);
        align-content: center;
      }

    }
  }
}

.middle {
  padding-top: 250px;
  width: 100%;
  @media @mobile {
    padding-top: 150px;
 
}

  .main-img {
    padding-top: 200;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .content-section {
    max-width: 100%;
    margin: 30px 0;
    .flexboxall(row, flex-wrap, space-around);

    @media @mobile {
      .flexboxall(column, flex-wrap, space-around);
    }


    .text-content {
      width: 48%;
      padding-right: 1%;
      text-align: left;

      @media @mobile {
        width: 100%;
      }
    }

    .img-content {
      width: 50%;
      padding-left: 1%;
      border-radius: 10px;
      @media @mobile {
        width: 100%;
      }
    }


      img {
        border-radius: 15px;
        width: 100%;

        
    }
  }




  .inverse-content {
    padding-bottom: 30px;

    @media @mobile {
      .flexboxall(column-reverse, flex-wrap, center);
      scroll-padding-bottom: 0;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      text-align: left;
      width: 50%;
      @media @mobile {
        width: 100%;
      }

    }

    .img-content {
      width: 50%;
      padding-right: 1%;
      padding-left: 0;
      @media @mobile {
        width: 100%;
      }

      img {
        width: 100%;
      }

    }
  }

  .content-pick {
    padding-top: 30px;
    // border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    // text-align: center;
      @media @mobile{
        .flexboxall(column, flex-wrap, center);
      }

    .details {
      width: 30%;
      margin-bottom: 30px;
      background-color: rgb(78, 204, 183);
      h4{
        text-align: center;
        // display: flex;
        // justify-content: center;
      }
      p {
        text-align: center;
      }
      .btn {
        text-align: center;
        .flexboxall(column, flex-wrap, center);
        width: inherit;
        padding: 8px;
        color: white;
        background-color: rgb(100, 41, 100);
        border-radius: 5px;
       
        
        &:hover {
          background-color: lighten(rgb(33, 105, 98); 10%);
        }
        
        @media @mobile{
          width: 100%;
        }

      }

      // .destination {
      //   width: 100%;
      //   margin: 20px 20px;
      //   text-align: left;
      // }
      @media @mobile {
        width: 100%;
        padding: 0;
      }
    }
  }

  .content-details {
    width: 80%;
    margin: 0 auto;
    padding: 20px 30px;
    // border-top: 2px dashed @navigation-border;
    @media @mobile {
      width: 100%;
      padding: 0;
    }



    img {
      width: 100%;
      border-radius: 10px;
    }

    // @media @mobile {
    //   width: 100%;
    //   padding: 20px 10px;
    // }
  }
  
}

.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: @sandy-beach;

  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }

  
}