header .navBar {
    
    .flexboxall(row, no-wrap, space-between);
    padding-bottom: 20px;


    nav {
        width: 50%;
        .flexboxall(row, flex-wrap, space-between);
        align-items: center;

        // align-items:baseline;
        a {
            color: black;
        }
    }

    @media @mobile{
        .flexboxall(column, no-wrap, center);
        align-items: center;
        }
}
.home {
    header {
      // display: flex;
      .flexboxall(column, no-wrap, center);
      border-bottom: 2px dashed @navigation-border;
  
    }
  
    